<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::content">
                    <resource id="DavidVerholen_Teaser::teaser">
                        <resource id="DavidVerholen_Teaser::teaser_group"
                                  title="Teaser Group"
                                  sortOrder="95">
                        </resource>
                        <resource id="DavidVerholen_Teaser::teaser_item"
                                  title="Teaser Item"
                                  sortOrder="100">
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
