<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::content">
                    <resource id="Magento_Backend::teaser">
                        <resource id="DavidVerholen_Teaser::teaser_item"
                                  title="Teaser"
                                  sortOrder="100">
                            <resource id="DavidVerholen_Teaser::save"
                                      title="Save Teaser Item"
                                      sortOrder="10" />
                            <resource id="DavidVerholen_Teaser::delete"
                                      title="Delete Teaser Item"
                                      sortOrder="20" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
