<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="DavidVerholen\Teaser\Block\TeaserItem\Renderer\RendererFactory">
        <arguments>
            <argument name="renderer" xsi:type="array">
                <item name="default" xsi:type="string">TeaserItemDefaultRenderer</item>
                <item name="text_only" xsi:type="string">TeaserItemTextOnlyRenderer</item>
                <item name="split" xsi:type="string">TeaserItemSplitRenderer</item>
                <item name="bg" xsi:type="string">TeaserItemBgRenderer</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="TeaserItemDefaultRenderer" type="DavidVerholen\Teaser\Block\TeaserItem\Renderer\DefaultRenderer">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="template" xsi:type="string">teaseritem/default.phtml</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="TeaserItemTextOnlyRenderer" type="DavidVerholen\Teaser\Block\TeaserItem\Renderer\DefaultRenderer">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="template" xsi:type="string">teaseritem/text_only.phtml</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="TeaserItemSplitRenderer" type="DavidVerholen\Teaser\Block\TeaserItem\Renderer\DefaultRenderer">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="template" xsi:type="string">teaseritem/split.phtml</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="TeaserItemBgRenderer" type="DavidVerholen\Teaser\Block\TeaserItem\Renderer\DefaultRenderer">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="template" xsi:type="string">teaseritem/bg.phtml</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="DavidVerholen\Teaser\Block\Widget\TeaserItem">
        <arguments>
            <argument name="teaserGroupRepository" xsi:type="object">DavidVerholen\Teaser\Api\TeaserGroupRepositoryInterface\Proxy</argument>
        </arguments>
    </type>
</config>